<form action='/login' method="POST">
    <div class="form">
        <div class="col">
            <label class="" for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email">
            <small class="invalid-feedback">The user name field is required</small>
            <small class="invalid-feedback">The user name needs to be a valid email address</small>
        </div>
        <div class="col" style="margin-top:10px;">
            <label for="password">Password</label>
            <input type="password" class='form-control' id="password" name="password" placeholder="Password">
            <small class="invalid-feedback">The password field is required</small>
            <button type="submit" style="margin-top:20px;" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>